<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="dropdown-item" routerLink="/races">Rasa</a>
    <a class="dropdown-item" routerLink="/classes">Klasa</a>
    <a class="dropdown-item" routerLink="/origins">Pochodzenie</a>
    <a class="dropdown-item" routerLink="/proficiencies">Biegłości</a>
    <a class="dropdown-item" routerLink="/heroes">Postaci</a>
    <a class="dropdown-item" routerLink="/calculator">Kalkulator statystyk</a>
    <app-login></app-login>
  </div>
</nav>
