<div class="row" *ngIf="loggedIn">
  <div class="col">
    <h2>Dodaj pochodzenie</h2>
    <form [formGroup]="originForm" (ngSubmit)="onOriginSubmit()">
      <div class="mb-3">
        <label for="originName" class="form-label">Nazwa</label>
        <input
          type="text"
          id="originName"
          formControlName="name"
          class="form-control">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Opis</label>
        <textarea
          id="description"
          formControlName="description"
          class="form-control"
          rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="proficiencies" class="form-label">Biegłości</label>
        <ng-multiselect-dropdown
          id="proficiencies"
          formControlName="proficiencies"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [placeholder]="'Wybierz biegłości'"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!originForm.valid">Dodaj
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-origin-item
    *ngFor="let origin of origins"
    [id]="origin.origin.id"
    [name]="origin.origin.name"
    [description]="origin.origin.description"
    [proficiencies]="origin.proficiencies"
    (stateChanged)="onDeleteOrigin($event)"
    ></app-origin-item>
  </div>
</div>
